.container {
  width: 360px;
}

.site-title {
  @include text-hide;
  background-image: url('/assets/images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 190px;
}
