.container {
  width: 320px;
}

.site-title {
  @include text-hide;
  margin-top: 1rem;
  background-image: url('/assets/images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  height: 155px;
}
