<!doctype html>
<html lang="{{ site.lang | split:"_" | first }}">

  {% include head.html %}

  <body class="container">

    {% include header.html %}

    <main>
      {% include main_menu.html %}
      <h2>{{ page.title }}</h2>
      <p>Receita para {{ page.makes }}.</p>
      {% if page.image %}
      <img class="img-fluid" src="{{ site.url }}/assets/images/{{ page.image }}" alt="{{ page.title }}" title="{{ page.title }}">
      {% endif %}
      {% include ingredients.html %}
      <p><strong>Atenção:</strong> esterilizar todo o equipamento antes de usar. A ideia é fazer vinho e não vinagre...</p>
      {{ content }}
    </main>

    {% include scripts.html %}

  </body>
</html>
